:root {
  --primary: #282c34;
  --secondary: white;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary);
  min-height: 100vh;
  color: var(--secondary);
}

.container-table{
  padding: 0 2rem;
}

.assessment  {
  width: 100%;
  border-collapse: collapse;
}

.assessment td {
  border-bottom: 1px solid var(--secondary);
  border-top: 1px solid var(--secondary);
  padding: 8px;
}

.assessment td:first-of-type{
  border-left: 1px solid var(--secondary);
}

.assessment td:last-of-type{
  border-right: 1px solid var(--secondary);
}

.student {
  font-weight:500 ;
}

.dropdown{
  width: 80%;
}

.submit{
  margin-top: 1rem;
  padding: 8px 15px;
  font-weight:700;
  background-color: var(--secondary);
  color: var(--primary);
  position: relative;
  left: 40%;
}
